<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Calcite+Bootstrap Documentation</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="{{assets}}css/calcite-bootstrap.css">
    <script src="{{assets}}scripts/head.js"></script>

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {{> _docs-navbar}}
    {{> body }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{assets}}scripts/plugins.min.js"></script>
    <script src="{{assets}}scripts/docs.min.js"></script>
    <script>
      $(function () {
        $("[data-toggle='tooltip']").tooltip();
      });
      $(function () {
        $("[data-toggle='popover']").popover();
      });
    </script>

    {{#if production}}
      <!-- no LIVERELOAD -->
    {{else}}
      <script>//<![CDATA[
      document.write('<script src="//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1"><\/script>')
      //]]></script>
    {{/if}}
</body>
</html>
