<!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{assets}}docs/index.html">Calcite+Bootstrap</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!-- <li><a href="getstarted.html">Getting Started</a></li> -->
          <li class="dropdown">
            <a href="css.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">CSS <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{assets}}docs/grid.html">Grid System</a></li>
              <li><a href="{{assets}}docs/typography.html">Typography</a></li>
              <li><a href="{{assets}}docs/code.html">Code</a></li>
              <li><a href="{{assets}}docs/tables.html">Tables</a></li>
              <li><a href="{{assets}}docs/forms.html">Forms</a></li>
              <li><a href="{{assets}}docs/buttons.html">Buttons</a></li>
              <li><a href="{{assets}}docs/images.html">Images</a></li>
              <li><a href="{{assets}}docs/helpers.html">Helper Classes</a></li>
              <li><a href="{{assets}}docs/responsive.html">Responsive Utilities</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="components.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Components <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{assets}}docs/glyphicons.html">Glyphicons</a></li>
              <li><a href="{{assets}}docs/dropdowns.html">Dropdowns</a></li>
              <li><a href="{{assets}}docs/buttongroups.html">Button Groups</a></li>
              <li><a href="{{assets}}docs/buttondropdowns.html">Button Dropdowns</a></li>
              <li><a href="{{assets}}docs/inputgroups.html">Input Groups</a></li>
              <li><a href="{{assets}}docs/navs.html">Navs</a></li>
              <li><a href="{{assets}}docs/navbars.html">Navbar</a></li>
              <li><a href="{{assets}}docs/breadcrumbs.html">Breadcrumbs</a></li>
              <li><a href="{{assets}}docs/pagination.html">Pagination</a></li>
              <li><a href="{{assets}}docs/labels.html">Labels</a></li>
              <li><a href="{{assets}}docs/badges.html">Badges</a></li>
              <li><a href="{{assets}}docs/jumbotron.html">Jumbotron</a></li>
              <li><a href="{{assets}}docs/header.html">Page Header</a></li>
              <li><a href="{{assets}}docs/thumbnails.html">Thumbnails</a></li>
              <li><a href="{{assets}}docs/alerts.html">Alerts</a></li>
              <li><a href="{{assets}}docs/progress.html">Progress Bars</a></li>
              <li><a href="{{assets}}docs/media.html">Media Object</a></li>
              <li><a href="{{assets}}docs/listgroups.html">List Groups</a></li>
              <li><a href="{{assets}}docs/panels.html">Panels</a></li>
              <li><a href="{{assets}}docs/embeds.html">Responsive Embeds</a></li>
              <li><a href="{{assets}}docs/wells.html">Wells</a></li>
            </ul>
          </li>
          <li><a href="{{assets}}docs/colors.html">Colors</a></li>
          <li class="dropdown">
            <a href="css.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">JavaScript <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{assets}}docs/transition.html">Transitions</a></li>
              <li><a href="{{assets}}docs/modal.html">Modal</a></li>
              <li><a href="{{assets}}docs/dropdown.html">Dropdown</a></li>
              <li><a href="{{assets}}docs/scrollspy.html">Scrollspy</a></li>
              <li><a href="{{assets}}docs/tab.html">Tab</a></li>
              <li><a href="{{assets}}docs/tooltip.html">Tooltip</a></li>
              <li><a href="{{assets}}docs/popover.html">Popover</a></li>
              <li><a href="{{assets}}docs/alert.html">Alert</a></li>
              <li><a href="{{assets}}docs/button.html">Button</a></li>
              <li><a href="{{assets}}docs/collapse.html">Collapse</a></li>
              <li><a href="{{assets}}docs/carousel.html">Carousel</a></li>
              <li><a href="{{assets}}docs/affix.html">Affix</a></li>
            </ul>
          </li>
          <!-- <li><a href="examples/admin-index.html">Admin Examples</a></li> -->
        </ul>
      </div><!--/.nav-collapse -->
    </div><!-- /.container -->
  </nav>