---
layout: admin-layout.hbs
---

    <div class="container">
      <div class="page-header">
        <h2>Manage Sites <button class="btn btn-default btn-warning btn-sm pull-right" type="button">Create New Site</button></h2>
      </div>

			<div class="row">
				<div class="col-md-3">
					<a href="#"><img src="http://placehold.it/640x480" class="img-responsive"></a>
				</div>
				<div class="col-md-7">
					<h4><a href="#">Stark Open Data</a><br>
					<small>winterfell.westeros.opendata.arcgis.com</small></h4>
					<ul class="list-inline">
					  <li>Groups <span class="badge">32</span></li>
					  <li>Items <span class="badge">155</span></li>
					  <li>Datasets <span class="badge">146</span></li>
					</ul>
				</div>
				<div class="col-md-2">
					<a class="btn btn-block btn-default btn-sm" type="button" href="{{assets}}examples/site-config.html"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Configure Site</a>
					<a class="btn btn-block btn-default btn-sm" type="button" href="{{assets}}examples/site-data.html"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Manage Data</a>
					<a class="btn btn-block btn-default btn-sm" type="button" href="{{assets}}examples/site-layout.html"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Design Layout</a>
					<a class="btn btn-block btn-default btn-sm" type="button" href="{{assets}}examples/site-report.html"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Data Report</a>
					<a class="btn btn-default btn-block btn-sm" type="button" href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Site</a>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-3">
					<a href="#"><img src="http://placehold.it/640x480" class="img-responsive"></a>
				</div>
				<div class="col-md-7">
					<h4><a href="#">Lannister Open Data</a><br>
					<small>casterlyrock.westeros.opendata.arcgis.com</small></h4>
					<ul class="list-inline">
					  <li>Groups <span class="badge">87</span></li>
					  <li>Items <span class="badge">1,456</span></li>
					  <li>Datasets <span class="badge">5,652</span></li>
					</ul>
				</div>
				<div class="col-md-2">
					<a class="btn btn-block btn-default btn-sm" type="button" href="{{assets}}examples/site-config.html"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Configure Site</a>
					<a class="btn btn-block btn-default btn-sm" type="button" href="{{assets}}examples/site-data.html"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Manage Data</a>
					<a class="btn btn-block btn-default btn-sm" type="button" href="{{assets}}examples/site-layout.html"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Design Layout</a>
					<a class="btn btn-block btn-default btn-sm" type="button" href="{{assets}}examples/site-report.html"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Data Report</a>
					<a class="btn btn-default btn-block btn-sm" type="button" href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Site</a>
				</div>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-3">
					<a href="#"><img src="http://placehold.it/640x480" class="img-responsive"></a>
				</div>
				<div class="col-md-7">
					<h4><a href="#">Arryn Open Data</a><br>
					<small>eyrie.westeros.opendata.arcgis.com</small></h4>
					<ul class="list-inline">
					  <li>Groups <span class="badge">7</span></li>
					  <li>Items <span class="badge">56</span></li>
					  <li>Datasets <span class="badge">86</span></li>
					</ul>
				</div>
				<div class="col-md-2">
					<a class="btn btn-block btn-default btn-sm" type="button" href="{{assets}}examples/site-config.html"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Configure Site</a>
					<a class="btn btn-block btn-default btn-sm" type="button" href="{{assets}}examples/site-data.html"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Manage Data</a>
					<a class="btn btn-block btn-default btn-sm" type="button" href="{{assets}}examples/site-layout.html"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Design Layout</a>
					<a class="btn btn-block btn-default btn-sm" type="button" href="{{assets}}examples/site-report.html"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Data Report</a>
					<a class="btn btn-default btn-block btn-sm" type="button" href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Site</a>
				</div>
			</div>
    </div>