<div class="cal-header">
  <div class="container">
    <h1>My Organization</h1>
    <ul class="nav nav-tabs">
      <li role="presentation" class="dropdown visible-xs-block">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> 
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{{assets}}/examples/admin-index.html">Dashboard</a></li>
          <li><a href="{{assets}}/examplesadmin-manage.html">Manage Sites</a></li>
          <li><a href="{{assets}}/examples/admin-org.html">Organization Info</a></li>
          <li class="divider"></li>
          <li><a href="{{assets}}/examples/admin-site-new.html">Create New Site</a></li>
        </ul>
      </li>
      <li role="presentation" class="hidden-xs active"><a href="{{assets}}/examples/admin-index.html">Dashboard</a></li>
      <li role="presentation" class="hidden-xs"><a href="{{assets}}/examples/admin-manage.html">Manage Sites</a></li>
      <li role="presentation" class="hidden-xs"><a href="{{assets}}/examples/admin-org.html">Organization Info</a></li>
      <li role="presentation" class="hidden-xs pull-right"><a href="{{assets}}/examples/admin-site-new.html">Create New Site</a></li>
    </ul>
  </div>
</div>
